$fontcolor: #000;

.grid-vertical{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.grid-article{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
    grid-template-rows: minmax(200px, 200px);
    grid-row-gap: 1em;
    margin-bottom: 10px;
    align-items: center;
}

img {
    height: 100%;
    max-width: 100%;
  }

img:hover{
    filter: grayscale(70%);
}

.nom{
    color: $fontcolor;
    font-size: 2em;
    padding-left: 5px;
}

.nom:hover{
    color: lighten($fontcolor,50%);
    text-decoration: none;
}

button{
    height: 50px;
    margin-bottom: 5px;
}

select{
    height: 50px;
}

.url{
    display: none;
}

.coffretError{
    background-color: grey;
    font-size: 25px;
}

@media (max-width: 375px) {

   

    .grid-article{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: .5em;
    }

    .nom{
        grid-column: span 2;
        grid-row: 1;
    }

    .prix{
        grid-column: 1;
        grid-row: 2;
    }

    
}