.grid-vertical{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

.grid-article{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-row-gap: 1em;
    margin-bottom: 10px;
}

img {
    max-height: 100%;
    width: 100%;
  }

button{
    height: 50px;
}

select{
    height: 50px;
}



@media (screen) and (max-width: 375px) {

    .grid-article{
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: .5em;
    }

    img {
        max-height: 100%;
        width: 100%;
      }
    
    button{
        height: 50px;
    }
    
    select{
        height: 50px;
    }
}